/* css file for index.html */


* {
	box-sizing: border-box;
	text-align: justify;
}

body {	
	margin: 0;	
	padding: 0;
}

#contenedor {
	background-color: white;
	color: #767676;
	margin: 0 auto;
	max-width: 900px;
	padding: 1%;
}

#seccionprincipal {
	border-left: solid 20px rgba(153, 34, 98, 0.979); /*#1A90FA; 6B1844*/
	border-right: solid thin #B0B0B0;
	width: 75%;
}

#barralateral {
	float: right;
	margin-bottom: 10px;
	margin-top: 0;
	width: 25%;
}


#contenedor div {
	margin: 0;
	padding: 2%;
}

h1, h2 {
	margin: 3% 0;
	text-align: center;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.3em !important;
}

h4 {
	font-size: 1.02em !important;
}

/* Sección principal */

h3, h4 {
	color: rgba(153, 34, 98, 0.979);
}

	/* Titulaciones */
#seccionprincipal h3+ul li h4 {
	margin-bottom: 8px;
}

	/* Líneas entre las diferentes partes de la sección principal. */
#seccionprincipal h3 {
	border-top: solid thin #B0B0B0;
	font-size: 1.3em;
	margin-top: 0;
	padding-top: 35px;
}

	/* Evita que salga una línea sobre "Educación". */
#seccionprincipal h3:first-child {
	border-top: none;
}

#seccionprincipal h3+ul {
	list-style: none;
	margin-bottom: 25px;
	padding-left: 50px;
}

	/* detalles de las titulaciones y trabajos */
#seccionprincipal h3+ul>li>ul {
	list-style-type: disc;
	padding: 7px 0 0 15px;
}

#seccionprincipal h3+ul>li>ul>li {
	font-size: 0.95em;
	margin-left: 15px;
	padding: 10px 0 0 0;
}

.tareas {
	text-decoration: underline;
}

#seccionprincipal h4+p {	
	font-size: 0.8em;
	font-style: italic;
	margin: 0;
}

	/* Conferencias */
h3+div {
	margin: auto;
}

h3+div>img {
	margin: 15px;
}

/* Barra lateral */

#foto {
	border-radius: 100px;
	margin: 0 0 10px;
	}

#contacto {
	background-color: rgba(153, 34, 98, 0.979);
	color: white;
	margin: 0;
	padding: 5px;
}

#contacto > div {
	padding: 0 10%;
}

#tlf {
	font-size: 1.1em;
}

#contacto a, .fa-envelope {
	color: white;
	text-decoration: none;
}

#contacto a {	
	font-size: 0.5em;
	padding-right: 2%;
}

 .fa-envelope {	
	padding-left: 8%;
}

header+div>p {
	text-align: left;
}

#barralateral div a img {
	margin: 0 30%;
}

.fa-globe-africa {
	padding: 2% 30%;
}

#voluntariado,
#objetivo, #formacion {
	font-size: 0.9em;
}

#voluntariado, #idiomas, #tecnologias, #formacion {
	padding-top: 30px !important;
}

#tecnologias {
	margin-bottom: 250px !important;
}

.circle {
	margin-top: 30px !important;
}

#objetivo p {
	margin-bottom: 4%;
	margin-top: 2%;
}

#objetivo p:nth-child(2) {
	text-align: center;
}

	/* Barras de progreso de idiomas*/

progress {

	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	height: 13px;
	margin: 0;
	padding: 0;
	width: 100%;
}

progress::-ms-fill {
	background-color: rgba(153, 34, 98, 0.979);
	border: none;
}

progress::-ms-progress-bar {
	background-color: rgba(153, 34, 98, 0.979);
}

progress::-moz-progress-bar {
	background-color: rgba(153, 34, 98, 0.979);
}

progress::-webkit-progress-bar {
	background-color: #C6C7C7;
	width: 100%;
}

progress::-webkit-progress-value {
	background-color: rgba(153, 34, 98, 0.979);
	border-right: none;
}


	/* Nube de tecnologías */

#tecnologias>div {
	position: relative;
}

.circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: solid white 2px;
    border-radius: 100%;
    height: 50px;
    position: absolute;
    width: 50px;
}

.circle span {
   	position: relative;
}

/* JavaScript */
.js {
	background-color: rgba(245, 180, 213, 0.979);
	height: 90px;
	 left: 35px;
	 top: 0;
	 width: 90px;
}

.js span {
  font-size: 0.85em;
  left: 5px;
  top: 27px;
}

/* HTML */
.anil {    	
	background-color: rgba(247, 205, 240, 0.979);
    height: 80px;
    left: 0;
    top: 70px;
    width: 80px;
}

.anil span {
    font-size: 0.9em;
	left: 10px;
	top: 25px;
}

/* CSS */
.malva {
	background-color: rgb(239, 192, 245);
    height: 80px;
   	left: 70px;
   	top: 70px;
    width: 80px;
}

.malva span {
	left: 18px;
	top: 25px;
}

/* Git */

.rosa {
	background-color: rgb(223, 180, 248);
	height: 60px;
	left: 45px;
	top: 125px;
	width: 60px;
}

.rosa span {
	font-size: 1em;
	left: 10px;
	top: 15px;
}

/* C# */
.azul {
	background-color:  rgb(228, 207, 247);
	left: 95px;
   	top: 140px;
}

.azul span {
	left: 10px;
	top: 10px;
}

/* Python */
.turquesa {
	background-color: rgb(243, 209, 238);
	left: 60px;
	top: 170px;
}

.turquesa span {
	font-size: 0.65em;
	left: 2px;
	top: 10px;
}

/* SQL */
.grey {
	background-color: rgb(231, 207, 238);
	font-size: 0.9em;
	height: 60px;
	left: 5px;
	top: 145px;
	width: 60px;
}

.grey span {
	font-size: 0.9em;
	left: 7px;
	top: 15px;
}
